<div data-role="fieldcontain" >
    <label for="name"><%= lbl_enter_username %></label>
    <input type="text" name="name" id="text_enter_username" />
    <label for="password"><%= lbl_enter_password %></label>
    <input type="password" name="password" id="text_enter_password"  />
    <input id="btn_loginsubmit" type="button" value=<%= val_btn_loginsubmit %> />
</div>